.red{
    background-color:red;
    border:solid black ;
    border-radius: 50%;
}

.yellow{
    background-color:yellow;
    border:solid black ;
    border-radius: 50%;
}

.green{
    background-color:green;
    border:solid black ;
    border-radius: 50%;
}

.light{
     width: 60px;
    height: 60px;
}

#traffic-light{
    width:10%;
    height:20%;
    background-color: black;
    display: flex;
    flex-direction:column;
    justify-content: center;
}