body {
  font-family: Arial;
  text-align: center;
  background-color: #fff5f5;
}

header {
  background: #ff8fab;
  color: white;
  padding: 15px;
}

section {
  margin: 20px;
}

button {
  background: #ff8fab;
  border: none;
  padding: 10px;
  color: white;
  cursor: pointer;
}
